GITHUB_DISPATCHER_APP_ID=123456
GITHUB_DISPATCHER_APP_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nREPLACE_ME\n-----END PRIVATE KEY-----"
GITHUB_CHECKER_WEBHOOK_SECRET=replace-me
GITHUB_DISPATCH_OWNER=chalharu
GITHUB_DISPATCH_REPO=linter-service
# GITHUB_API_BASE_URL=https://api.github.com
